<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>
    <p>Dear</p>
    <p>We received a request to reset your password. If you didn't make this request, please ignore this email.</p>
    <p>To reset your password, click on the following link:</p>
    <a href="{{link}}" target="_blank">Reset Password</a>
    <p>This link will expire in 1 hour for security reasons.</p>
    <p>Thank you!<br>YourAppName Team</p>
</body>

</html>